<phpunit bootstrap="bootstrap.php" colors="true">
    <!--
    SPDX-FileCopyrightText: André Théo LAURET <andrelauret@eclipse-technology.eu>
    SPDX-License-Identifier: AGPL-3.0-or-later
    -->
    <testsuites>
        <testsuite name="unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
